extends layout

block content
  h1= title

  ul
    each val in booksinstance_list
      li
        a(href=val.url) #{val.book_title} : #{val.book_imprint} -
        if val.book_status=='Available'
          span.text-success #{val.book_status}
        else if val.book_status=='Maintenance'
          span.text-danger #{val.book_status}
        else
          span.text-warning #{val.book_status}
        if val.book_status!='Available'
          span  (Due: #{val.due_back} )

    else
      li There are no book copies in this library.
